import os

# Izzy Moonbow root directory
IZZY_ROOT = os.path.dirname(os.path.abspath(__file__))

# Telegram Bot Token
TELEGRAM_BOT_TOKEN = os.getenv("TELEGRAM_BOT_TOKEN")

# ByBit API Key
BYBIT_API_KEY = os.getenv("BYBIT_API_KEY")

# ByBit API Secret
BYBIT_API_SECRET = os.getenv("BYBIT_API_SECRET")

DB_CONFIG = {
    'user': os.getenv('DB_USER', 'izzy'),
    'password': os.getenv('DB_PASSWORD', 'db_password'),
    'host': os.getenv('DB_HOST', 'db'),
    'database': os.getenv('DB_NAME', 'izzy_db')
}

SECRET_KEY = "secret_key"
